appdirs==1.4.0
beautifulsoup4==4.5.3
bioservices==1.4.16
click==6.7
cloudpickle==0.2.2
colorama==0.3.7
cycler==0.10.0
cymem==1.31.2
cytoolz==0.8.2
easydev==0.9.34
Flask==0.12
Flask-Script==2.0.5
flexmock==0.10.2
gevent==1.2.1
greenlet==0.4.12
grequests==0.3.0
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
murmurhash==0.26.4
numpy==1.12.0
packaging==16.8
pandas==0.19.2
pathlib==1.0.1
pep8==1.7.0
pexpect==4.2.1
plac==0.9.6
preshed==0.46.4
ptyprocess==0.5.1
py==1.4.32
pycodestyle==2.2.0
pymongo==3.4.0
pyparsing==2.1.10
pytest==3.0.6
pytest-runner==2.10.1
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
requests-cache==0.4.13
semver==2.7.4
six==1.10.0
sputnik==0.9.3
suds-jurko==0.6
thinc==6.2.0
toolz==0.8.2
tqdm==4.11.2
ujson==1.35
virtualenv==15.1.0
waitress==1.0.1
WebOb==1.7.1
WebTest==2.0.24
Werkzeug==0.11.15
wrapt==1.10.8
xmltodict==0.10.2
